@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.25;
  font-size: 14px;
  font-family: "Montserrat";
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
}

p {
  font-family: "Roboto";
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header .header_top {
  padding: 8px 0;
  background-color: #3ead43;
}
.header .header_top .top_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
@media (max-width: 1400px) {
  .header .header_top .top_row {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .header .header_top .top_row {
    font-size: 12px;
  }
}
.header .header_top .block_phones {
  display: flex;
}
@media (max-width: 767px) {
  .header .header_top .block_phones {
    flex-direction: column;
  }
}
.header .header_top .block_phones .phone + .phone {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .header .header_top .block_phones .phone + .phone {
    margin-left: 0;
    margin-top: 5px;
  }
}
.header .header_top .block_phones .icon {
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
}
@media (max-width: 1400px) {
  .header .header_top .block_phones {
    margin-bottom: 5px;
  }
}
.header .header_top .block_info {
  display: flex;
}
@media (max-width: 767px) {
  .header .header_top .block_info {
    text-align: center;
    flex-direction: column;
  }
}
.header .header_top .block_info .info_item + .info_item {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .header .header_top .block_info .info_item + .info_item {
    margin-left: 0;
    margin-top: 5px;
  }
}
.header .header_top .block_info .icon {
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
}
.header .header_bottom .bottom_row {
  display: flex;
  justify-content: space-between;
}
.header .header_bottom .logo_block {
  position: relative;
  width: 180px;
}
@media (max-width: 767px) {
  .header .header_bottom .logo_block {
    width: 100px;
  }
}
.header .header_bottom .logo {
  position: absolute;
  width: inherit;
  height: 195px;
  top: 0;
  left: 0;
  padding: 0 10px 5px;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
  box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.27);
}
@media (max-width: 767px) {
  .header .header_bottom .logo {
    height: 100px;
  }
}
.header .header_bottom .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .header_bottom .logo:hover {
  opacity: 0.7;
}
.header .header_bottom .navigation_bar {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .header .header_bottom .navigation_bar {
    display: none;
  }
}
.header .header_bottom .menu_list {
  display: flex;
}
.header .header_bottom .menu_item {
  padding: 0 14px;
}
.header .header_bottom .menu_link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #3ead43;
  transition: 0.4s;
}
.header .header_bottom .menu_link:hover {
  color: #dd861e;
}
.header .header_bottom .menu_link.active {
  color: #dd861e;
}
.header .header_bottom .sign_up {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #dd861e;
  padding: 14px;
  height: 90px;
  display: flex;
  align-items: center;
}
.header .header_bottom .language {
  display: flex;
}
.header .header_bottom .language_item {
  margin: 0 14px;
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header .header_bottom .ru {
  background-image: url("/img/country/ukraine.png");
}
.header .header_bottom .ua {
  background-image: url("/img/country/russia.png");
}
.header .header_bottom .us {
  background-image: url("/img/country/united-states.png");
}
.header .header_bottom .search {
  margin: 0 0 0 14px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/img/search.png");
}
.header .header_bottom .burger_block {
  height: 90px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .header .header_bottom .burger_block {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header .header_bottom .burger_block {
    margin-right: 0px;
  }
}
.header .header_bottom .burger_block .burger_button {
  width: 16px;
  height: 14px;
  position: relative;
  margin-right: 10px;
}
.header .header_bottom .burger_block .burger_button span, .header .header_bottom .burger_block .burger_button:after, .header .header_bottom .burger_block .burger_button:before {
  width: 100%;
  height: 2px;
  background-color: #3ead43;
  position: absolute;
  content: "";
  left: 0;
}
.header .header_bottom .burger_block .burger_button:after {
  top: 0;
}
.header .header_bottom .burger_block .burger_button span {
  top: calc(50% - 1px);
}
.header .header_bottom .burger_block .burger_button:before {
  bottom: 0;
}
.header .header_bottom .burger_block .burger_text {
  font-family: "Roboto";
  font-weight: 500;
  color: #3ead43;
  font-size: 16px;
}

input.error,
textarea.error {
  border-color: red;
}

.button-1 {
  font-family: "Roboto";
  cursor: pointer;
  padding: 12px 24px;
  background-color: #E68107;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #E68107;
  border-radius: 5px;
  transition: 0.4s;
  display: inline-block;
  text-align: center;
  width: max-content;
}
.button-1 input {
  display: none;
}
.button-1:hover {
  background-color: transparent;
  color: #E68107;
}

.button-2 {
  font-family: "Roboto";
  cursor: pointer;
  padding: 12px 24px;
  background-color: #3ead43;
  color: #ffffff;
  font-weight: 500;
  transition: 0.4s;
  display: inline-block;
  text-align: center;
  width: max-content;
}
.button-2 input {
  display: none;
}
.button-2:hover {
  background-color: #E68107;
}

.main .swiper-container {
  width: 100%;
  height: 650px;
}
.main .swiper-container .swiper-slide {
  background-image: url("../img/swiper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main .swiper-container .block_info {
  position: absolute;
}
.main .swiper-container .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  background-color: #000000;
  opacity: 0.2;
}
.main .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
}
.main .swiper-container .swiper-button-prev, .main .swiper-container .swiper-button-next {
  width: 25px;
  height: 25px;
}
.main .swiper-container .swiper-button-prev::after, .main .swiper-container .swiper-button-next::after {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main .us_wrap {
  padding-top: 70px;
  padding-bottom: 40px;
}
.main .us_wrap .us_inner {
  display: flex;
}
@media (max-width: 767px) {
  .main .us_wrap .us_inner {
    flex-direction: column;
  }
}
.main .us_wrap .us_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}
.main .us_wrap .item_1 {
  background-color: #34c33a;
}
.main .us_wrap .item_2 {
  background-color: #2eab33;
}
.main .us_wrap .item_3 {
  background-color: #298f2d;
}
.main .us_wrap .icon {
  width: 65px;
  height: 65px;
  display: block;
  object-fit: contain;
  margin-bottom: 20px;
}
.main .us_wrap .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}
.main .us_wrap .text {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
.main .about_wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
}
.main .about_wrap .about_inner {
  display: flex;
}
@media (max-width: 767px) {
  .main .about_wrap .about_inner {
    flex-direction: column;
  }
}
.main .about_wrap .block {
  width: calc(50% - 20px);
  margin: 10px;
}
@media (max-width: 767px) {
  .main .about_wrap .b-img {
    margin: 0 auto 20px;
    width: 70%;
  }
}
@media (max-width: 500px) {
  .main .about_wrap .b-img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main .about_wrap .b-text {
    width: 100%;
  }
}
.main .about_wrap .more {
  margin-bottom: 20px;
}
.main .services_wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ff0000;
  background-image: url("../img/services/bg-serv.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 2px solid #3ead43;
}
.main .services_wrap::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.main .services_wrap .z-index-bg {
  position: relative;
  z-index: 2;
}
.main .services_wrap .main_title {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .main .services_wrap .main_title {
    margin-bottom: 30px;
  }
}
.main .services_wrap .services_inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .services_wrap .item_block {
  width: calc(100% / 4 - 20px);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px;
}
@media (max-width: 1200px) {
  .main .services_wrap .item_block {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 800px) {
  .main .services_wrap .item_block {
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 500px) {
  .main .services_wrap .item_block {
    width: calc(100% / 1 );
  }
}
.main .services_wrap .item_block:nth-child(2n+1) img {
  border: 3px solid #4AB24F;
}
.main .services_wrap .item_block:nth-child(2n) img {
  border: 3px solid #E68107;
}
.main .services_wrap .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .services_wrap .icon img {
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s;
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.main .services_wrap .icon:hover img {
  width: 100%;
  height: 100%;
}
.main .services_wrap .title {
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  transition: 0.4s;
}
.main .services_wrap .title:hover {
  color: #3ead43;
}
.main .map_wrap {
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .main .map_wrap {
    padding-bottom: 30px;
  }
}
.main .map_wrap .contact_block {
  display: inline-block;
  min-width: 400px;
  position: relative;
  z-index: 2;
  padding: 20px 20px 20px 52px;
  margin-top: -200px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.39) -4px 12px 38px 6px;
}
@media (max-width: 500px) {
  .main .map_wrap .contact_block {
    min-width: initial;
    padding: 15px 15px 15px 30px;
  }
}
.main .map_wrap .title {
  font-size: 30px;
  font-weight: 800;
  color: #3ead43;
  margin-bottom: 30px;
}
.main .map_wrap .item {
  margin-bottom: 20px;
}
.main .map_wrap .icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: -3px;
}
.main .map_wrap .text {
  font-family: "Roboto";
  font-size: 20px;
  color: #000000;
}

.appointment_wrap {
  padding: 36px 0;
  font-family: "Roboto";
}
.appointment_wrap .appointment_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .appointment_wrap .appointment_inner {
    justify-content: center;
    flex-direction: column;
  }
}
.appointment_wrap .text {
  color: #E68107;
  font-size: 25px;
  font-weight: 700;
}
.appointment_wrap .text .icon {
  width: 35px;
  height: 35px;
  margin: -2px;
  margin-right: 20px;
}
@media (max-width: 1100px) {
  .appointment_wrap .text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.appointment_wrap .button_appointment {
  padding: 15px 30px;
  background-color: #4ab24f;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #4Ab24f;
  border-radius: 5px;
  transition: 0.4s;
  display: inline-block;
}
.appointment_wrap .button_appointment .icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  margin: -2px;
  transition: 0.4s;
  margin-left: 15px;
}
@media (max-width: 1100px) {
  .appointment_wrap .button_appointment {
    font-size: 18px;
  }
}
.appointment_wrap .button_appointment:hover {
  background-color: transparent;
  color: #4Ab24f;
}
.appointment_wrap .button_appointment:hover .icon {
  fill: #4Ab24f;
}

.services_page .main_title {
  margin-top: 40px;
  margin-bottom: 40px;
}
.services_page .services_wrap {
  border-bottom: 2px solid #3ead43;
}
.services_page .services_inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.services_page .service_card {
  width: calc(33.3% - 20px);
  margin: 0 10px 20px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_page .service_card:nth-child(2n+1) .photo img {
  border-top: 3px solid #4AB24F;
  border-bottom: 3px solid #4AB24F;
}
.services_page .service_card:nth-child(2n) .photo img {
  border-top: 3px solid #E68107;
  border-bottom: 3px solid #E68107;
}
.services_page .photo {
  height: 270px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_page .photo:hover img {
  height: 95%;
  width: 95%;
}
.services_page .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  overflow: hidden;
  border-radius: 40px 10px 40px 10px;
  border-top: 1px solid #3ead43;
  border-bottom: 1px solid #3ead43;
}
.services_page .title {
  text-align: center;
  font-size: 19px;
  color: #333333;
  font-weight: 600;
  transition: 0.4s;
}
.services_page .title:hover {
  color: #3ead43;
}

.services_item .service_wrap {
  border-bottom: 2px solid #3ead43;
}
.services_item .service_inner {
  display: flex;
  flex-wrap: wrap;
}
.services_item .big_column {
  width: 75%;
  padding: 50px 30px 50px 0px;
  border-right: 1px solid #f1f1f1;
  margin: 0 -10px;
}
.services_item .big_column .more {
  text-align: center;
}
.services_item .big_column .block {
  display: flex;
}
.services_item .big_column .column {
  width: 50%;
}
.services_item .big_column .text {
  padding-right: 10px;
}
.services_item .big_column .images {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_item .big_column .images img {
  display: block;
  width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
}
.services_item .small_column {
  width: 25%;
  padding: 30px 0 0 30px;
}
.services_item .small_column .title {
  padding-left: 15px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  border-left: 2px solid #3ead43;
  line-height: 1;
}
.services_item .small_column .block_links {
  display: flex;
  flex-direction: column;
}
.services_item .small_column .link {
  position: relative;
  padding-left: 20px;
  color: #333333;
  font-size: 15px;
  margin-bottom: 15px;
  transition: 0.4s;
}
.services_item .small_column .link:hover {
  margin-left: 7px;
  color: #3ead43;
}
.services_item .small_column .link:hover:before {
  border: 1px solid #3ead43;
}
.services_item .small_column .link:before {
  transition: inherit;
  position: absolute;
  line-height: 1;
  content: "";
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #333333;
}

.specialists_page .specialists_wrap {
  padding: 50px 0;
  border-bottom: 2px solid #3ead43;
}
.specialists_page .specialists_wrap .specialists_inner {
  display: flex;
  flex-wrap: wrap;
}
.specialists_page .specialists_wrap .card {
  width: calc(100% / 3 - 100px);
  margin: 0 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .specialists_page .specialists_wrap .card {
    width: calc(100% / 2 - 100px);
    margin: 0 30px 20px;
  }
}
@media (max-width: 767px) {
  .specialists_page .specialists_wrap .card {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .specialists_page .specialists_wrap .card {
    margin: 0 0 30px;
  }
}
.specialists_page .specialists_wrap .card:nth-child(2n+1) img {
  border-top: 3px solid #4AB24F;
  border-bottom: 3px solid #4AB24F;
}
.specialists_page .specialists_wrap .card:nth-child(2n) img {
  border-top: 3px solid #E68107;
  border-bottom: 3px solid #E68107;
}
.specialists_page .specialists_wrap .img_block {
  height: 405px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .specialists_page .specialists_wrap .img_block {
    height: 380px;
  }
}
.specialists_page .specialists_wrap .img_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px 10px 40px 10px;
  transition: 0.4s;
}
.specialists_page .specialists_wrap .img_block img:hover {
  width: 95%;
  height: 95%;
}
.specialists_page .specialists_wrap .img_block:hover img {
  width: 90%;
  height: 90%;
}
.specialists_page .specialists_wrap .name {
  font-size: 19px;
  color: #000000;
  font-weight: 600;
  width: 75%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 15px;
}
.specialists_page .specialists_wrap .position {
  font-size: 16px;
  color: #E68107;
  font-weight: 500;
}

.question-answer_page .question-answer_wrap {
  padding: 150px 0 50px;
  border-bottom: 2px solid #3ead43;
}
.question-answer_page .question-answer_wrap .item {
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  margin-bottom: 15px;
}
.question-answer_page .question-answer_wrap .question {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  padding-right: 30px;
  transition: 0.4s;
  background-color: #ffffff;
}
.question-answer_page .question-answer_wrap .question.color {
  color: #3ead43;
}
.question-answer_page .question-answer_wrap .answer {
  padding-left: 30px;
}
.question-answer_page .question-answer_wrap .arrow {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
  right: 0;
  transition: 0.4s;
}
.question-answer_page .question-answer_wrap .arrow .icon {
  transition: 0.4s;
  fill: #000000;
  width: 100%;
  height: 100%;
}
.question-answer_page .question-answer_wrap .arrow.rotate {
  transform: rotate(180deg);
}
.question-answer_page .question-answer_wrap .arrow.rotate .icon {
  fill: #3ead43;
  width: 100%;
  height: 100%;
}

.equipment_page .main_title {
  margin-top: 40px;
  margin-bottom: 40px;
}
.equipment_page .services_wrap {
  border-bottom: 2px solid #3ead43;
}
.equipment_page .services_inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.equipment_page .service_card {
  width: calc(33.3% - 20px);
  margin: 0 10px 20px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipment_page .service_card:nth-child(2n+1) .photo img {
  border-top: 3px solid #4AB24F;
  border-bottom: 3px solid #4AB24F;
}
.equipment_page .service_card:nth-child(2n) .photo img {
  border-top: 3px solid #E68107;
  border-bottom: 3px solid #E68107;
}
.equipment_page .photo {
  height: 270px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.equipment_page .photo:hover img {
  height: 95%;
  width: 95%;
}
.equipment_page .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  overflow: hidden;
  border-radius: 40px 10px 40px 10px;
  border-top: 1px solid #3ead43;
  border-bottom: 1px solid #3ead43;
}
.equipment_page .title {
  text-align: center;
  font-size: 19px;
  color: #333333;
  font-weight: 600;
  transition: 0.4s;
}
.equipment_page .title:hover {
  color: #3ead43;
}

.reception .reception_wrap {
  padding: 70px 0;
}
@media (max-width: 767px) {
  .reception .reception_wrap {
    padding: 30px 0;
  }
}
.reception .reception_inner {
  display: flex;
  align-items: center;
}
@media (max-width: 1150px) {
  .reception .reception_inner {
    flex-direction: column;
  }
}
.reception .column {
  width: 50%;
  padding: 10px;
}
@media (max-width: 1150px) {
  .reception .image {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .reception .image {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .reception .form {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .reception .form {
    width: 90%;
  }
}
.reception .img {
  width: 100%;
  height: auto;
}
.reception .input, .reception .textarea {
  padding: 6px 12px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #ddd;
  min-height: 40px;
  display: inline-block;
  width: 100%;
}
.reception .input::placeholder, .reception .textarea::placeholder {
  font-size: inherit;
  color: inherit;
}
.reception .input:focus::placeholder, .reception .textarea:focus::placeholder, .reception .input:active::placeholder, .reception .textarea:active::placeholder {
  font-size: 0;
}
.reception .input.error, .reception .error.textarea {
  border: 1px solid #ff0000;
}
.reception .input.error::placeholder, .reception .error.textarea::placeholder {
  color: #ff0000;
}
.price_item .price_wrap {
  border-bottom: 2px solid #3ead43;
}
.price_item .price_wrap .price_inner {
  display: flex;
  flex-wrap: wrap;
}
.price_item .price_wrap .big_column {
  width: 75%;
  padding: 50px 30px 50px 0px;
  border-right: 1px solid #f1f1f1;
  margin: 0 -10px;
}
.price_item .price_wrap .big_column .main_title span {
  font-weight: 600;
}
.price_item .price_wrap .big_column .table {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 20px;
}
.price_item .price_wrap .big_column .row {
  display: flex;
  width: 100%;
  transition: 0.4s;
}
.price_item .price_wrap .big_column .row:nth-child(2n) {
  background-color: rgba(0, 0, 50, 0.02);
}
.price_item .price_wrap .big_column .row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.price_item .price_wrap .big_column .title_row {
  font-weight: 700;
}
.price_item .price_wrap .big_column .title_row:hover {
  background-color: #ffffff;
}
.price_item .price_wrap .big_column .column {
  padding: 15px 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
}
.price_item .price_wrap .big_column .name {
  width: 80%;
}
.price_item .price_wrap .big_column .value {
  width: 20%;
  text-align: center;
}
.price_item .price_wrap .small_column {
  width: 25%;
  padding: 30px 0 0 30px;
}
.price_item .price_wrap .small_column .title {
  padding-left: 15px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  border-left: 2px solid #3ead43;
  line-height: 1;
}
.price_item .price_wrap .small_column .block_links {
  display: flex;
  flex-direction: column;
}
.price_item .price_wrap .small_column .link {
  position: relative;
  padding-left: 20px;
  color: #333333;
  font-size: 15px;
  margin-bottom: 15px;
  transition: 0.4s;
}
.price_item .price_wrap .small_column .link:hover {
  margin-left: 7px;
  color: #3ead43;
}
.price_item .price_wrap .small_column .link:hover:before {
  border: 1px solid #3ead43;
}
.price_item .price_wrap .small_column .link:before {
  transition: inherit;
  position: absolute;
  line-height: 1;
  content: "";
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #333333;
}

.contact_page .contact_wrap {
  padding: 50px 0 30px;
}
.contact_page .contact_inner {
  display: flex;
}
@media (max-width: 767px) {
  .contact_page .contact_inner {
    flex-direction: column;
  }
}
.contact_page .column {
  width: 50%;
  padding: 10px;
}
@media (max-width: 767px) {
  .contact_page .column {
    width: 100%;
    padding: 0;
  }
}
.contact_page .contact_title {
  font-size: 21px;
  font-weight: 700;
  color: #23A455;
}
.contact_page .contact_text {
  font-size: 21px;
}
.contact_page .info_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.contact_page .info_title {
  background-color: #f1f1f1;
  padding: 5px 30px;
  color: #000000;
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 10px;
}
.contact_page .link_tel {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  transition: 0.4s;
}
.contact_page .link_tel:hover {
  color: #3ead43;
}
.contact_page .info_item {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact_page .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (max-width: 767px) {
  .contact_page .image {
    margin-bottom: 20px;
  }
}
.contact_page .map_block {
  margin-bottom: 15px;
}
.contact_page .swiper-container {
  width: 100%;
  height: 270px;
  padding-bottom: 20px;
}
.contact_page .swiper-container .swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_page .swiper-container .swiper-pagination {
  bottom: 0;
}
.contact_page .swiper-container .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  background-color: #000000;
  opacity: 0.2;
}
.contact_page .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
}
.contact_page .swiper-container .swiper-button-prev, .contact_page .swiper-container .swiper-button-next {
  width: 25px;
  height: 25px;
}
.contact_page .swiper-container .swiper-button-prev::after, .contact_page .swiper-container .swiper-button-next::after {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.footer .footer_top {
  padding: 30px 0;
  background-color: #282828;
  font-size: 15px;
}
.footer .footer_top .top_inner {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer_top .column {
  width: 25%;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .footer .footer_top .column {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .footer .footer_top .column {
    width: 100%;
    padding: 0;
  }
}
.footer .footer_top .logo {
  display: block;
  object-fit: contain;
  width: 210px;
  height: 217px;
}
.footer .footer_top .title {
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 15px;
  line-height: 1;
  position: relative;
  border-left: 2px solid #3ead43;
  color: #ffffff;
}
.footer .footer_top .menu {
  display: flex;
  flex-direction: column;
}
.footer .footer_top .menu .menu_link {
  color: #ffffff;
  margin-bottom: 15px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.footer .footer_top .menu .menu_link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
}
.footer .footer_top .menu .menu_link:last-of-type {
  margin-bottom: 0;
}
.footer .footer_top .menu .menu_link:hover {
  color: #3ead43;
  margin-left: 10px;
}
.footer .footer_top .info_block {
  display: flex;
  flex-direction: column;
}
.footer .footer_top .info_block .info_item {
  margin-bottom: 15px;
  display: flex;
}
.footer .footer_top .info_block .icon {
  display: block;
  padding: 10px;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
}
.footer .footer_top .info_block .text_block {
  margin-left: 15px;
  color: #ffffff;
}
.footer .footer_top .info_block .name {
  font-weight: 700;
  margin-bottom: 3px;
}
.footer .footer_top .social_block {
  display: flex;
  margin-bottom: 20px;
}
.footer .footer_top .social_block .social_link {
  display: block;
  margin: 0 3px;
  width: 55px;
  height: 55px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
}
.footer .footer_top .social_block .social_link .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer .footer_top .social_block .social_link:hover {
  border: 1px solid #3ead43;
}
.footer .footer_top .social_block .bank {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}
.footer .footer_bottom {
  font-size: 12px;
  background-color: #3ead43;
  padding: 15px 0;
  text-align: center;
}
.footer .footer_bottom .text {
  color: #ffffff;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 20px;
  max-width: 460px;
  width: 100%;
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -30px;
  right: -30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  cursor: pointer;
  background: #fff url(..img/svg/close.svg) 50% 50%/65% no-repeat;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease 0s;
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}
.scroll-up .scroll-up__path {
  width: 30px;
  height: 30px;
}
.scroll-up.scroll-up_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up:hover:before {
  border-color: red;
  opacity: 1;
}

.main_title {
  color: #070707;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
  font-size: 29px;
  text-align: center;
}
.main_title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 5px;
  width: 21%;
  background: linear-gradient(90deg, rgba(62, 173, 67, 0) 0%, #3ead43 100%);
}
@media (max-width: 767px) {
  .main_title {
    margin-bottom: 30px;
    font-size: 23px;
  }
}
.main_title span {
  font-weight: 700;
}
.main_title.white {
  color: #ffffff;
}

.more {
  font-size: 22px;
  font-weight: 800;
  color: #4AB24F;
}

.title_block {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eaf4ea;
}
.title_block .title {
  color: #333333;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 32px;
}
@media (max-width: 767px) {
  .title_block .title {
    font-size: 24px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs .breadcrumbs_item {
  position: relative;
  padding-right: 15px;
  margin-right: 10px;
  font-size: 13px;
}
.breadcrumbs .breadcrumbs_item .icon {
  width: 13px;
  height: 13px;
  margin-bottom: -2px;
}
.breadcrumbs .breadcrumbs_item::after {
  content: ">";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.breadcrumbs .breadcrumbs_item:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
.breadcrumbs .breadcrumbs_item:last-of-type::after {
  display: none;
}

@media (max-width: 1200px) {
  /**/
}
@media (max-width: 1024px) {
  /**/
}
@media (max-width: 992px) {
  /**/
}
@media (max-width: 768px) {
  /**/
}
@media (max-width: 480px) {
  /**/
}
@media (max-width: 360px) {
  /**/
}