.appointment_wrap{
    padding: 36px 0;
    font-family: "Roboto";
    .appointment_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1100px) {
            justify-content: center;
            flex-direction: column;
        }
    }
    .text{
        color: #E68107;;
        font-size: 25px;
        font-weight: 700;
        @media (max-width: 1100px) {
            text-align: center;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    .button_appointment{
        padding: 15px 30px;
        background-color:#4ab24f;
        color: #ffffff;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #4Ab24f ;
        border-radius: 5px; transition: .4s;
        display: inline-block;
        @media (max-width: 1100px) {
            font-size: 18px;
        }
        &:hover{
            background-color: transparent;
            color:#E68107;
        }
    }
}
