.equipment_page {

  .main_title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .services_wrap {
    border-bottom: 2px solid $color_1;
  }

  .services_inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .service_card {
    width: calc(33.3% - 20px);
    margin: 0 10px 20px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2n+1) {
      .photo {
        img {
          border-top: 3px solid #4AB24F;
          border-bottom: 3px solid #4AB24F;
        }
      }
    }

    &:nth-child(2n) {
      .photo {
        img {
          border-top: 3px solid #E68107;
          border-bottom: 3px solid #E68107;
        }
      }
    }
  }

  .photo {
    height: 270px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      img {
        height: 95%;
        width: 95%;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.4s;
      overflow: hidden;
      border-radius: 40px 10px 40px 10px;
      border-top: 1px solid $color_1;
      border-bottom: 1px solid $color_1;

    }
  }

  .title {
    text-align: center;
    font-size: 19px;
    color: #333333;
    font-weight: 600;
    transition: 0.4s;

    &:hover {
      color: $color_1;
    }
  }
}