.main {
  .swiper-container {
    &.desktop-slider {
      width: 100%;
      height: 650px;
      @media (max-width: 720px) {
        display: none;
      }
    }

    .swiper-slide {
      position: relative;
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }

    .gif{
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 13;
    }
    .block_info {
      margin-left: 4%;
      bottom: 50%;
      left: 50px;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 520px;
      height: 300px;
      opacity: 0;
      transform: translateY(100%);
      z-index: 2;
    }

    .swiper-title {
      color: #ffffff;
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 30px;
    }

    .text {
      color: #ffffff;
      font-size: 24px;
      margin-bottom: 30px;

    }

    .green {
        background-color: #1C631F;
        border: 2px solid #1C631F;
        &:hover{
          background-color: transparent;
        }
    }

    .yellow {
      background-color: #e69533;
        border: 2px solid #e69533;
    }

    .swiper-btn {
      font-family: "Roboto";
      width: max-content;
      padding: 15px 30px;
      font-size: 18px;
      color: #ffffff;
      transition: 0.4s;
      position: relative;
      z-index: 2;
      font-weight: 700;
      border-radius: 5px;

      &:hover {
        color: #1C631F;
      }
    }

    .swiper-slide-active {
      .block_info {
        transition: all 1s 0.7s;
        opacity: 1;
        transform: translateY(50%);
      }
    }

    .swiper-pagination-bullet {
      height: 6px;
      width: 6px;
      background-color: #000000;
      opacity: 0.2;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }

    .swiper-button-prev, .swiper-button-next {
      width: 25px;
      height: 25px;

      &::after {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
      }
    }

    &.mob-slider {
      width: 100%;
      height: 400px;
      display: none;

      .block_info {
        align-items: center;
        width: 80%;
        margin: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      .swiper-title {
        text-align: center;
        font-size: 25px;
        margin-bottom: 5px;
      }

      .text {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
      }

      @media (max-width: 720px) {
        display: block;
      }
    }
  }

  .us_wrap {
    padding-top: 60px;
    padding-bottom: 40px;

    .us_inner {
      display: flex;
      @media(max-width: 767px) {
        flex-direction: column;
      }
    }

    .us_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
    }

    .item_1 {
      background-color: #34c33a;
    }

    .item_2 {
      background-color: #2eab33;
    }

    .item_3 {
      background-color: #298f2d;
    }

    .icon {
      width: 65px;
      height: 65px;
      display: block;
      object-fit: contain;
      margin-bottom: 20px;
    }

    .title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .text {
      font-family:"Roboto";
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.5;
    }

  }

  .about_wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1;

    .about_inner {
      display: flex;
      @media(max-width: 767px) {
        flex-direction: column;
      }
    }

    .block {
      width: calc(50% - 20px);
      margin: 10px;
    }

    .b-img {
      @media(max-width: 767px) {
        margin: 0 auto 20px;
        width: 70%;
      }
      @media(max-width: 500px) {
        width: 100%;
      }
    }

    .b-text {
      @media(max-width: 767px) {
        width: 100%;
      }
    }

    .more {
      margin-bottom: 20px;
    }
  }

  .services_wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ff0000;
    background-image: url('../img/services/bg-serv.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 2px solid $color_1;

    &::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
    }

    .z-index-bg {
      position: relative;
      z-index: 2;
    }

    .main_title {
      margin-bottom: 50px;
      @media (max-width: 800px) {
        margin-bottom: 30px;
      }
    }

    .services_inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

    }

    .item_block {
      width: calc(100% / 4 - 20px);
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 10px 40px;
      @media (max-width: 1200px) {
        width: calc(100% / 3 - 20px);
      }
      @media (max-width: 800px) {
        width: calc(100% / 2 - 20px);
      }
      @media (max-width: 500px) {
        width: calc(100% / 1);
      }

      &:nth-child(2n+1) {
        img {
          border: 3px solid #4AB24F;
        }
      }

      &:nth-child(2n) {
        img {
          border: 3px solid #E68107;
        }
      }
    }

    .icon {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 50%;
        overflow: hidden;
        transition: 0.4s;
        width: 90%;
        height: 90%;
        object-fit: contain;
      }

      &:hover {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .title {
      color: #ffffff;
      font-size: 19px;
      font-weight: 600;
      transition: 0.4s;

      &:hover {
        color: $color-1;
      }
    }
  }

  .map_wrap {
    padding-bottom: 60px;
    @media (max-width: 767px) {
      padding-bottom: 30px;
    }

    .contact_block {
      display: inline-block;
      min-width: 400px;
      position: relative;
      z-index: 2;
      padding: 20px 20px 20px 52px;
      margin-top: -200px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.39) -4px 12px 38px 6px;
      @media (max-width: 500px) {
        min-width: initial;
        padding: 15px 15px 15px 30px;
      }
    }

    .title {
      font-size: 30px;
      font-weight: 800;
      color: $color_1;
      margin-bottom: 20px;

    }

    .item {
      margin-bottom: 20px;
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      margin-bottom: -3px;
    }

    .text {
      font-family: 'Roboto';
      font-size: 20px;
      color: #000000;

    }
  }
}