.question-answer_page{

  .question-answer_wrap{
    padding: 150px 0 50px;
    border-bottom: 2px solid $color_1;
    .item{
      border-bottom:1px solid rgba(212,212,212);
      position: relative;
      margin-bottom: 20px;
    }
    .question{
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
      padding-right: 30px;
      transition: 0.4s;
      background-color: #ffffff;
      &.color{
        color: $color_1;
      }
    }
    .answer{
      padding-left: 30px;
      &>*{
        transition: 0.4s margin;
      }
    }
    .arrow{
      display: block;
      width: 15px;
      height: 15px;
      background-color: $color_1;
      position: absolute;
      top: 4px;
      right: 0;
      transition: 0.4s;
      &.rotate{
        transform: rotate(45deg);
      }
    }

    .hide>*{
      opacity: 0;
      margin: 0;
      height: 0;
    }
}
}