.services_item{
  .service_wrap{
    border-bottom: 2px solid $color_1;
  }
  .service_inner{
    display: flex;
    flex-wrap: wrap;
  }
  .big_column{
    width: 75%;
    padding: 50px 30px 50px 0px;
    border-right: 1px solid #f1f1f1;
    margin: 0 -10px;
    @media (max-width: 900px) {
      border: none;
      width: 100%;
      margin: 0;
      padding: 50px 0px 50px 0px;
    }
    .more{
      text-align: center;
    }
    .block{
      display: flex;
      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
    .column{
      width: 50%;
      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .text{
      padding-right: 10px;
    }
    .images{
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        display: block;
        width: 100%;
        object-fit: contain;
        margin-bottom: 30px;
      }
    }
  }
  .small_column{
    @media (max-width: 900px) {
      display: none;
    }
    width: 25%;
    padding: 30px 0 0 30px;
    .title{
      padding-left: 15px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      border-left: 2px solid $color_1;
      line-height: 1;
    }
    .block_links{
      display: flex;
      flex-direction: column;

    }
    .link{
      position: relative;
      padding-left: 20px;
      color: #333333 ;
      font-size: 15px;
      margin-bottom: 15px;
      transition: 0.4s;
      &:hover{
        margin-left: 7px;
        color: $color_1;
        &:before{
          border: 1px solid $color_1;
        }
      }
      &:before{
        transition: inherit;
        position: absolute;
        line-height: 1;
        content: '';
        top: 2px;
        left: 0;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #333333;
      }
    }
  }

  .search_info{
    padding-bottom: 30px;
  }
  .search_subtitle{
    font-size: 18px;
    font-weight: 300;
    color: rgb(146,146,146);
    margin-bottom: 15px;
  }
  .search_item{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(146,146,146,0.4);
    .search_title{
      font-size: 24px;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 20px;
      transition: 0.4s;
      &:hover{
        color: $color_1;
      }
    }
    p{
      color: rgb(146,146,146)
    }
    .search_link{
      font-weight: 600;
      font-size: 12px;
      text-decoration: underline;
      color: #333333;
      transition: 0.4s;
      &:hover{
        color: $color_1;
      }
    }
  }
}